In [ ]:
# script will perform ETL on Clinical Trials data from https://aact.ctti-clinicaltrials.org/snapshots
#

In [1]:
import seaborn as sns
sns.set

In [2]:
import os
import pandas as pd
# shell command: brew install postgresql 
import pandas as pd
import psycopg2
import pandas.io.sql as sqlio

In [ ]:
# instructions are from: https://aact.ctti-clinicaltrials.org/snapshots
# first downloaded database as a zip file
# then downloaded Postgresql so that we could rebuild static database on local external hard drive
# shell command: unzip ~/Downloads/YYYYMMDD_clinical_trials.zip <----- unzips the files into .dmp
# Postgresql command in shell: createdb aact  <----- creates an empty database ready to be populated
# Postgresql command in shell: pg_restore -e -v -O -x -d aact --no-owner ~/your_file_path/postgres_data.dmp <----- populates aact database with data from .dmp file

# connect to DB and get the column names of the table
con = None
con = psycopg2.connect(database="aact")
con.rollback()
cursor = con.cursor()

con.autocommit = True # SQL statement is treated as a transaction and is automatically committed right after it is executed
sql = '''SELECT * FROM ctgov.conditions;'''
cursor.execute(sql)
column_names = [desc[0] for desc in cursor.description]
for i in column_names:
    print(i)
con.commit()
con.close()

In [3]:
# connect to DB and get the column names of the table
con = None
con = psycopg2.connect(database="aact")
con.rollback()
cursor = con.cursor()

con.autocommit = True # SQL statement is treated as a transaction and is automatically committed right after it is executed
sql = '''SELECT * FROM ctgov.conditions;'''
cursor.execute(sql)
column_names = [desc[0] for desc in cursor.description]
tuples = cursor.fetchall()
con.close()
df = pd.DataFrame(tuples, columns=column_names)

In [7]:
df.head(5)

,id,nct_id,name,downcase_name
0,3072834,NCT03254264,Autism Spectrum Disorder,autism spectrum disorder
1,3072835,NCT03254329,Human Milk Nutrient Reference Values,human milk nutrient reference values
2,3349485,NCT03460652,ADHD,adhd
3,3349486,NCT03460899,Diabetes Mellitus With Hypoglycemia,diabetes mellitus with hypoglycemia
4,3072836,NCT03254342,Major Depressive Disorder,major depressive disorder